:root {
    --primary-bg: #0E0E10;
    --secondary-bg: #18181B;
    --terteary-bg: #464649;
    --primary-color: #A56EF9;
    --text-color: #EFEFF1;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-bg);
    color: var(--text-color);
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.login-card {
    background-color: var(--secondary-bg);
    padding: 20px 10px;
    border-radius: 8px;
    border-top: 5px solid var(--primary-color);
}

.login-card-header {
    padding-bottom: 5px;
}

.login-card-footer {
    padding-top: 5px;
    text-align: center;
}

.form-item {
    display: block;
    margin: 15px 0;
}

.form-label {
    display: block;
    font-size: 18px;
    margin: 5px 0px;
}

.form-label-description {
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}

.form-input {
    outline: 0;
    border: 0;
    background-color: var(--primary-bg);
    color: var(--text-color);
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 17px;
    background-color: var(--terteary-bg);
    color: var(--text-color);
    cursor: pointer;
    text-decoration: none;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.checkbox-list {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.25em;
    height: 1.25em;
    border: 0.05em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--secondary-bg);
}

input[type="checkbox"]:checked {
    background-color: var(--primary-color);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(1px, 0.10em) solid currentColor;
    outline-offset: max(1px, 0.10em);
}

input[type="checkbox"]:disabled {
    cursor: not-allowed;
}

.separation {
    height: 1px;
    background-color: #445;
    border: none;
}

b {
    color: var(--primary-color)
}